.announcement {
    background: #FF6A67;
    color: rgba($color: white, $alpha: 0.85);
    border-radius: 1rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    .icon {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
    }
    .text {
        padding-right: 0.5rem;
    }
}