#main {
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 18rem;
    column-gap: 2rem;
    padding: 0 2rem;

    #notifications-tab {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}